<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Customer</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.item.description %></td>
      <td><%= order.customer.name %></td>
      <td><%= order.quantity %></td>
      <td><%= link_to 'Show', order %></td>
    </tr>
  <% end %>
  </tbody>
</table>
