<h1>Merchants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.address %></td>
        <td><%= link_to 'Show', merchant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
